<div class="row" >
  <div class="col-md-6 offset-md-3" >
    <nav class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "Posts", user_path(@user.username), class: "nav-link" %> 
      </li>
      <li class="nav-item">
        <%= link_to "Likes", liked_photos_path(@user.username), class: "nav-link" %> 
      </li>
      <li class="nav-item">
        <%= link_to "Followers", user_followers_path(@user.username), class: "nav-link" %> 
      </li>
      <li class="nav-item">
        <%= link_to "Following", user_following_path(@user.username), class: "nav-link" %> 
      </li>
      <li class="nav-item">
        <%= link_to "Feed", user_path(@user.username), class: "nav-link" %> 
      </li>
    </nav>
  </div>
</div>
<h1>
<%= @user.username %>
</h1>


<div>
<ul class="list-group">
  <li class="list-group-item mb-4" aria-current="true"><%= current_user.username %></li>
  <% current_user.followers.map do |follower| %>
    <li class="list-group-item"><%= follower.username %></li>
  <% end %>
</ul>
</div>
